#table {
  background-color: #80cbc4;
    width: 70%;

}

#line {
display:flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 2rem;
    color: white;
    margin-top: 10%;
    margin-bottom: 10%;
}



body {
    background-color:#80cbc4;
    text-align: center;
    vertical-align: middle;

}
#gameover {
 display:none;
    position: absolute;
    left:50%;
    margin-left: -35%;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 6rem;
    margin-top: 10%;
    width: 70%;
    h2{
        font-size: 1rem;
    }
}

html {
    height: 100%;
    width: 100%;
    
}